.venv/
.venv_build/
env/
venv/
Lib/
Scripts/
Include/
_pycache_/
*.py[cod]
.env
dist/
build/
*.spec
*.db
*.sqlite
*.log
.DS_Store
.idea/
.vscode/
uploads/
*.exe
*.dll
*.pyd
.agent/
.gemini/
.git-history/
